<% @page_title = 'Reset Password' -%>
<div id="errors" class="errors">
  <h2>Sorry, we couldn't process your request.</h2>
  <p>Copy and paste the link into your browser or send an email to 
  <%= mail_to 'dawson@ube.ca' %> and I'll help you.</p>
</div>