<% @page_title = 'New account' -%>
<%= error_messages_on 'person' %>

<% my_form_for :person, nil, :url => people_path, :html => { :class => 'block' } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>

<%= render :partial => 'shared/buttonblock', :locals => { :name => 'Create' } %>
<% end %>