-----------------------

If you have any questions, please visit <%= url_for :host => 'ube.ca', :controller => 'about', :action => 'help' %>

If that doesn't work, just reply to this email and I'll help you - hopefully today!

--
Dawson Book Exchange
http://ube.ca/ <-- more used books added every day!
email: dawson@ube.ca