
<%=h @seller.name %> - 
Your book was incorrectly marked sold:

<%= render :partial => 'book' %>
Sorry about that!

-----------------------

<%= render :partial => 'reclaim' %>

<%= render :partial => 'signature' %>