
<%=h @person.name %> -
Forgot your password? No worries.

To choose a new password, simply click the link below, or copy and paste it into your browser:

-----------------------

<%=h @url %>

----------------------- 

If that doesn't work, just reply to this email and I'll help you - hopefully today!

--
Dawson Book Exchange
http://ube.ca/
email: dawson@ube.ca