Showing <strong><%= pages.offset + 1 %> - <%= pages.offset + pages.size %></strong> of <strong><%= pages.total_entries %></strong> for <strong><%= params[:q] %></strong> sorted by <strong><%=h session[@sort_name][:key].humanize %></strong>.