body {
  padding-top: 1em;
  font-family: arial, helvetica, sans-serif;
}

#doc {
  width: 90%;
}

/*--- tags -----------------------------------------------------------------*/

label {
  cursor: pointer;
  cursor: hand;
}
abbr {
  border-bottom: 1px dotted #bbb;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  margin-bottom: 1em;
}
h2 small {
  font-size: 80%;
}

/*--- anchors --------------------------------------------------------------*/

a {
  margin: -3px;
  padding: 3px;
}

a.excel {
  margin-left: 0;
  padding-left: 20px;
  background: transparent url(/images/icons/excel.png) center left no-repeat;
}
a.clear {
  margin-left: 0;
  padding-left: 22px;
  background: transparent url(/images/icons/close.gif) center left no-repeat;
}

a:link {
  color: #00e;
}
a:visited {
  color: #60e;
}
a:hover {
  background-color: #00e;
  color: #fff;
}

a.image:hover {
  background-color: transparent;
  color: #00e;
}

a.add,
a.add:visited {
  color: #090;
  font-size: 105%;
  font-weight: bold;
}
a.add:hover {
  background-color: #090;
  color: #fff;
}
a.secondary,
a.secondary:visited {
  color: #555;
  font-size: 105%;
}
a.secondary:hover {
  background-color: #555;
  color: #fff;
}

/*--- headers --------------------------------------------------------------*/

h2,
h3,
h4 {
  margin-bottom: .5em;
  font-family: arial, sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
}

h2 {
  font-size: 175%;
}
h2 a,
h2 a:link {
  color: #00e;
}
h2 a:hover {
  background-color: transparent;
  color: #00e;
}

h3 {
  font-size: 165%;
}
h3 a {
  color: #00e;
}
h3 a:hover {
  background-color: #00e;
  color: #fff;
}

h4 {
  font-size: 135%;
}

h3.empty {
  color: #666;
}
h3 strong {
  color: #000;
  font-weight: normal;
}

h3 .add,
h3 .print {
  padding-left: 23px;
}
h3 .add {
  background: url(/images/icons/add.png) center left no-repeat;
}
h3 .print {
  background: url(/images/icons/print.png) center left no-repeat;
}

h3.seller,
h3.book {
  padding-left: 35px;
}
h3.seller {
  background: url(/images/icons/seller_search.png) center left no-repeat;
}
h3.book {
  background: url(/images/icons/book_search.png) center left no-repeat;
}

h3.tight {
  margin: 0;
}

/*--- body -----------------------------------------------------------------*/

#yui-main {
  clear: both;
  position: relative;
  padding-top: 1em;
}

p.nav {
  margin-bottom: 0;
  color: #999;
  font-size: 90%;
}
p.nav input {
  padding: 2px;
  _padding: 0;
  font-size: 110%;
  margin-right: .5em;
}

a.new.
a.new:visited {
  padding: 5px;
  color: #390;
  font-weight: bold;
  font-size: 105%;
}
a.new:hover {
  background-color: #390;
  color: #fff;
}

hr {
  height: 1px;
  margin-bottom: 1em;
  border: none;
  border-top: 1px solid #ccc;
}

div.blocks {
  position: absolute;
  top: 1em;
  right: 0;
  width: 20em;
}
div.block {
  margin-bottom: 1em;
  text-align: right;
}
div.block h3 {
  margin-bottom: .2em;
}
div.block li {
  padding-bottom: .5em;
}

p.schedule {
  color: #777;
  line-height: 165%;
}

span.strikethrough {
  color: #999;
  font-weight: normal;
  text-decoration: line-through;
}

/*--- cart -----------------------------------------------------------------*/

strong.cart_total,
span#cart_total {
  color: #090;
}

a.go_to_cart,
a.go_to_cart:visited {
  color: #00e;
  font-size: 105%;
}
a.go_to_cart:hover {
  background-color: #00e;
  color: #fff;
}

/*--- books ----------------------------------------------------------------*/

p.back {
  float: right;
  margin: 0;
  white-space: nowrap;
}
p.back a {
  font-size: 125%;
  font-weight: bold;
}

/*--- search ---------------------------------------------------------------*/

form.search {
  padding-bottom: 1em;
}
form.search label {
  font-size: 115%;
  font-weight: bold;
}
form.search input.submit {
  padding: 3px;
  _padding: 0;
  border: none;
  background-color: #66a7e1;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
form.search #q,
form.search #email {
  padding: 2px;
  border: 1px solid #999;
  background-color: #fff !important;
  font-size: 120%;
}
form.search #q:focus,
form.search #email:focus {
  border: 1px solid #666;
  background-color: #ffc !important;
}
form.search p {
  margin: 1px 0 0;
  color: #777;
  font-size: 95%;
  font-style: normal;
}
form.search p.filters {
  margin-top: .5em;
}
form.search p.filters label {
  color: #000;
  font-size: 95%;
  font-weight: normal;
}

/*--- lookup ---------------------------------------------------------------*/

#status {
  position: absolute;
  top: 1.5em;
  left: 30em;
  width: 20em;
  color: #999;
}
#status p {
  margin-bottom: 5px;
}
#status p.complete {
  padding-left: 20px;
  background: url(/images/icons/check.png) no-repeat center left;
  color: #090;
}
#status p.failure strong {
  padding: 2px;
  background-color: #f00;
  color: #fff;
}

/*--- statuses -------------------------------------------------------------*/

span.instock,
span.sold,
span.reclaimed,
span.lost {
  font-size: 85%;
}
span.instock {
  color: #090;
}
span.sold,
span.reclaimed {
  color: #900;
}
span.lost {
  color: #999;
}

/*--- help -----------------------------------------------------------------*/

.help {
  margin-top: 1em;
  text-align: center;
}
.help * {
  display: inline;
}
.help h4,
.help dd {
  margin-right: 1em;
}
.help h4 {
  color: #999;
}
.help dt {
  font-weight: bold;
}

/*--- hightlights ----------------------------------------------------------*/

.center {
  clear: both;
  padding-top: 1.5em;
  text-align: center;
}

.caps {
  text-transform: uppercase;
}

.warning {
  color: #f00;
}

.important {
  color: #f00;
  text-transform: uppercase;
}

.highlight {
  margin: -2px;
  padding: 2px;
  background-color: #ff0;
}
tt.highlight {
  font-size: 115%;
}
strong.highlight {
  font-weight: normal;
}

/*--- lists ----------------------------------------------------------------*/

ul.bulleted {
  margin-bottom: 1em;
}
ul.bulleted li {
  list-style-type: disc;
  margin-left: 2em;
}

li.contract {
  background: url(/images/icons/contract.png) top left no-repeat;
  color: #777;
}
li.info {
  color: #777;
}
li#url {
  color: #777;
  font-size: 80%;
}

li.checkout {
  background: url(/images/icons/cart_small.gif) center left no-repeat;
}
li.checkout a {
  color: #060;
}
li.checkout a:hover {
  background-color: #060;
  color: #fff;
}

li.receipt {
  background: url(/images/icons/receipt.png) center left no-repeat;
}
li.receipt a {
  color: #060;
}
li.receipt a:hover {
  background-color: #060;
  color: #fff;
}

li.delete {
  background: url(/images/icons/trash.png) center left no-repeat;
}
li.delete a,
li.delete a:visited {
  color: #f00;
}
li.delete a:hover {
  background-color: #f00;
  color: #fff;
}

li.primary {
  font-size: 105%;
  font-weight: bold;
}

li.secondary {
  font-size: 90%;
}

/*--- orders ------------------------------------------------------------*/

table.list tr.order {
  border-bottom: 5px double #ccc;
}

table.list td.total {
  color: #090;
  font-size: 150%;
  font-weight: bold;
}
table.list td.links li {
  margin: 2px 0;
  padding-left: 20px;
}
table.list td.total,
table.list td.links,
table.list td.total:hover,
table.list td.order_link:hover {
  background-color: #fff;
}

table.list td.date {
  border-bottom: 1px solid #ccc;
  color: #999;
  font-size: 200%;
  text-align: center;
}
table.list td.hour {
  padding-top: .5em;
  border: 0;
  color: #777;
  font-size: 175%;
  font-weight: bold;
  text-align: center;
}


/*--- footer ------------------------------------------------------------*/

#ft {
  margin-top: 1em;
  color: #666;
  font-size: 85%;
  text-align: right;
}

/*--- header ---------------------------------------------------------------*/

#hd a {
  font-weight: bold;
}
#hd a:link,
#hd a:visited {
  color: #00e;
}
#hd a:hover {
  background-color: #00e;
  color: #fff;
}

#hd h1,
#hd span.edit {
  float: left;
}
#hd h1 {
  display: inline;
  margin: -.2em 0 0;
  font-size: 175%;
  letter-spacing: -1px;
  white-space: nowrap;
}
#hd h1 a {
  font-weight: normal;
  text-decoration: none;
}
#hd span.edit a {
  margin-left: .5em;
  font-size: 85%;
}
#hd p.session {
  text-align: right;
}

/*--- tabs -----------------------------------------------------------------*/

/* nav */

#actions {
  clear: both;
  width: 100%;
}
#actions li {
  float: left;
  margin-right: 10px;
  background-color: #c3d9ff;
}

.window ul a {
  margin: -7px;
  padding: 7px;
}
.window ul li {
  display: inline;
  margin-right: 30px;
}

/* anchors */

#hd li a,
#hd li.active a,
#hd li.active span {
  font-weight: bold;
}
#hd li.active span {
  text-decoration: none;
}

#actions li a,
#actions li.active a,
#actions li.active span {
  display: block;
  min-height: 17px; /* fixes FX/Mac issue */
  margin: 0;
  padding: 6px 10px 4px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
#actions li.active a,
#actions li.active span {
  padding-top: 5px;
}

/* new */

#hd li.new a {
  font-weight: normal;
}

.window li.new {
  margin-left: -25px;
}
#actions li.new {
  margin-left: -9px;
}
#actions li.new a {
  padding: 6px 8px 4px;
}

/* search */

#hd li.search a,
#hd li.search span {
  background: url(/images/icons/search.gif) no-repeat center right;
  padding-right: 25px;
}
#hd li.search a:hover {
  background-color: #00e;
  color: #fff;
}

/* active */

#actions li.active {
  border: 1px solid #c3d9ff;
  border-bottom: none;
  background-color: #fff;
}
#actions li.active a {
  color: #00e;
}
#actions li.active a:hover {
  background-color: #fff;
  color: #00e;
  text-decoration: underline;
}

/* right */

#actions li.right {
  float: right;
  margin: 0 0 0 5px;
}
#actions li.right,
#actions li.right a,
#actions li.right a:visited,
#actions li.right a:hover {
  background-color: #777;
  color: #fff;
  font-weight: normal;
}
#actions li.right a:hover {
  background-color: #999;
}
#actions li.right span {
  background-color: #999;
}

/*--- windows --------------------------------------------------------------*/

#hd div.window {
  clear: both;
  padding: 10px;
  border: 2px solid #c3d9ff;
  border-bottom: none;
}
#hd div.last {
  border-bottom: 2px solid #c3d9ff;
}

#hd div.search,
#hd div.search *,
#hd p#cart_header {
  display: inline;
}

#hd div.search {
  padding-right: 1em;
}

#hd p#cart_header {
  margin: 0;
  padding-left: 30px;
  background: url(/images/icons/cart.gif) no-repeat center left;
  text-align: left;
}

#hd a.delete,
#hd a.delete:visited,
#bd a.delete,
#bd a.delete:visited {
  margin: 2px;
  padding: 3px 0 3px 17px;
  background: transparent url(/images/icons/trash.png) center left no-repeat;
  color: #f00;
}
#hd a.delete:hover,
#bd a.delete:hover {
  background-color: #f00;
  color: #fff;
}

/*--- messages -------------------------------------------------------------*/

.notices,
.errors,
.alerts {
  clear: both;
  margin-bottom: 1em;
  padding: 7px 0 7px 45px;
}

.notices h2,
.errors h2,
.alerts h2 {
  margin-bottom: .5em;
  font-size: 125%;
  font-weight: bold;
  letter-spacing: 0;
}

.notices h3,
.errors h3,
.alerts h3 {
  margin-bottom: 0;
  font-size: 125%;
  font-weight: bold;
}

/*--- notices --------------------------------------------------------------*/

.notices {
  border: 1px solid #390;
  background: #efc url(/images/icons/notice_big.png) no-repeat 6px 6px;
  color: #390;
}
.notices h2 {
  color: #390;
}
.notices p {
  margin: 0;
}

/*--- errors ---------------------------------------------------------------*/

.errors,
.alerts {
  border: 1px solid #f00;
  background: #ffc url(/images/icons/error_big.png) no-repeat 6px 6px;
}

.errors h2,
.alerts h2 {
  color: #c00;
}

.errors li {
  list-style-type: square;
  margin-left: 1.5em;
}

/*--- text replacement -----------------------------------------------------*/

.sr {
  position: absolute;
  top: 0;
  left: -9999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
