<% @page_title = 'Contact' -%>
<h2>Contact</h2>

<p><strong class="highlight">Before emailing questions</strong>, please read the 
<%= link_to 'frequently asked questions', :controller => 'about', :action => 'help' %>.</p>


<p>Feel free to contact me at <%= mail_to 'dawson@ube.ca' %>. 
<strong>I appreciate all feedback!</strong></p>

<p>You can usually expect a reply within 24 hours.</p>
